.form__main {
  margin-top: 18px;
}

.form__notes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 680px;
}

.form__notes > input {
  width: 98%;
  height: 2.2rem;
  border-radius: 4px;
  border: 1px solid rgba(4, 154, 209, 0.6);
  font-weight: 16px;
  font-size: 20px;
  padding: 5px 10px;
}
