.main__page {
  width: 100%;
  margin: 0 auto;
  max-width: 85%;
  height: 250px;
}

.main__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

hr {
  margin: 15px 0;
  text-align: center;
  border: none; /* Убираем границу */
  background: #66f2ff; /* Цвет линии */
  color: red; /* Цвет линии для IE6-7 */
  height: 3px; /* Толщина линии */
}

h1 {
  font-family: Calibri;
}
